<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans.xsd 
					http://www.springframework.org/schema/util 
					http://www.springframework.org/schema/util/spring-util.xsd
					http://www.springframework.org/schema/batch 
	                http://www.springframework.org/schema/batch/spring-batch.xsd">

	<!--                           common utilities                                  -->
	
	<bean id="inputFile" class="org.springframework.core.io.FileSystemResource" scope="step">
		<constructor-arg value="#{jobParameters[inputFile]}" />
	</bean>

	<bean id="defaultStaxReader" class="fr.erdprt.samples.springbatch.readers.SynchronizingItemReader" scope="step">
	    <property name="delegate" ref="defaultStaxReaderImpl" />
	</bean>

	<bean id="defaultStaxReaderImpl" class="fr.erdprt.samples.springbatch.readers.StaxDefaultSplitterImpl" scope="step">
	    <property name="elementName" value="#{jobParameters['elementName']}" />
	    <property name="resource" ref="inputFile" />
	</bean>

	
</beans>