<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans.xsd 
					http://www.springframework.org/schema/util 
					http://www.springframework.org/schema/util/spring-util.xsd
					http://www.springframework.org/schema/batch 
	                http://www.springframework.org/schema/batch/spring-batch.xsd">

	<!--                           Orders import Job                                  -->

	<bean id="storeOrdersProcessor" class="org.springframework.batch.item.support.CompositeItemProcessor">
		<property name="delegates">
			<list>
				<ref bean="convertOrdersProcessor" />
				<ref bean="storeOrderProcessor" />
			</list>
		</property>
	</bean>

	<bean id="convertOrdersProcessor" class="fr.erdprt.samples.springbatch.processors.ConvertMessageProcessor" scope="step">
	    <property name="convertMessage">
	    	<bean class="fr.erdprt.samples.springbatch.utility.unmarshaller.ConvertMessageOrders">
			</bean>
	    </property>
	</bean>
	
	<bean id="storeOrderProcessor" class="fr.erdprt.samples.springbatch.processors.orders.StoreOrderProcessor" scope="step">
	    <property name="entityConverter">
	    	<bean class="fr.erdprt.samples.springbatch.utility.converter.OrderConverter">
			</bean>
	    </property>
	</bean>
	
	<bean id="jpaBatchWriter" class="org.springframework.batch.item.database.JpaItemWriter" scope="step">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
	
	<batch:step id="storeOrdersStep">
		<batch:tasklet>
			<batch:chunk reader="defaultStaxReader" processor="storeOrdersProcessor" writer="jpaBatchWriter" commit-interval="#{jobParameters['commit.interval']}" />
		</batch:tasklet>
	</batch:step>
	
	<batch:job id="ordersImportJob" incrementer="jobParametersIncrementer" restartable="true">
		<batch:step id="ordersImportStep" parent="storeOrdersStep" />
	</batch:job>
	
</beans>