<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level [%logger.%M:%line] %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ./logs/trace.%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %level [%logger.%M:%line] %msg%n
            </pattern>
        </layout>
    </appender>


    <logger name="fr.erdprt.samples" level="DEBUG" />
    <logger name="org.springframework" level="WARN" />
    <!-- To see sql  script execution -->
    <logger name="org.springframework.jdbc.datasource.init.ScriptUtils" level="DEBUG" />

	<!--
    <logger name="org.hibernate" level="TRACE" />
      -->
    <logger name="org.hibernate.SQL" level="TRACE" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <logger name="org.hibernate.persister.entity.AbstractEntityPersister" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>