<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:aop="http://www.springframework.org/schema/aop"
    	xmlns:context="http://www.springframework.org/schema/context" 
    	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
    	xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:springcontext-test.properties" />

	<jdbc:initialize-database data-source="dataSource" ignore-failures="DROPS">
	    <jdbc:script location="${ddl.business.create.tables}"/>
	    <jdbc:script location="${ddl.business.create.constraints}"/>
	    <jdbc:script location="${ddl.business.insert}"/>
	</jdbc:initialize-database>

	<!--
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="h2ScriptUtility" class="fr.erdprt.samples.persistance.database.H2ScriptUtility">
		<property name="user" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
		<property name="url" value="${db.url}"/>
		<property name="driver" value="${db.driver}"/>
	</bean>
	  -->

    <context:component-scan base-package="fr.erdprt.samples.persistance.model.products" />

    <context:annotation-config />
    <tx:annotation-driven />

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<property name="suppressClose" value="true" />
	</bean>

    <!-- JPA EntityManagerFactory -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="${persistenceUnitName}" /> <!-- persistence.xml est dans META-INF -->
		<property name="dataSource" ref="dataSource" />
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.show_sql">${hibernate.showsql}</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.generate_statistics">false</prop>
				<prop key="hibernate.use_sql_comments">false</prop>

				<prop key="hibernate.jdbc.batch_size">20</prop>
				<prop key="hibernate.jdbc.fetch_size">100</prop>
				<prop key="hibernate.order_inserts">true</prop>
				<prop key="hibernate.order_updates">true</prop>
				
				<prop key="hibernate.default_schema">${hibernate.schema}</prop>
				<prop key="hibernate.id.new_generator_mapping">false</prop>
				<!--
				<prop key="javax.persistence.validation.mode">callback</prop>
  				-->
			</props>
		</property>
		<!--
		<property name="persistenceUnitPostProcessors" ref="persistenceUnitPostProcessors"/>
		  -->
	</bean>

	<!--	
	<bean id="persistenceUnitPostProcessors" class="fr.erdprt.samples.persistance.utility.DefaultPersistenceUnitPostProcessor">
		<constructor-arg>
			<bean class="fr.erdprt.samples.persistance.utility.PersistenceUnitBean">

				<property name="persistenceUnitName" value="${persistenceUnitName}"/>
				<property name="transactionType" value="RESOURCE_LOCAL"></property>
				<property name="persistenceProviderClassName" value="org.hibernate.ejb.HibernatePersistence"/>
				<property name="excludeUnlistedClasses" value="false"/>
				<property name="managedClassNames">
					<list>
						<value>fr.erdprt.samples.persistance.model.products.RefCategory</value>
						<value>fr.erdprt.samples.persistance.model.products.RefProductStatus</value>
						<value>fr.erdprt.samples.persistance.model.products.RefProduct</value>
						<value>fr.erdprt.samples.persistance.model.products.RefInventory</value>
					</list>
				</property>
				<property name="properties">
					<props>
						<prop key="hibernate.dialect">${hibernate.dialect}</prop>
					</props>
				</property>
			</bean>
		</constructor-arg>
	</bean>
  	-->	

</beans>