<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level [%logger.%M:%line] %msg%n
            </pattern>
        </layout>
    </appender>

	<logger name="fr.erdprt.samples.springbatch.partitioners" level="TRACE" />
	<logger name="fr.erdprt.samples.springbatch.processors" level="WARN" />
	<logger name="fr.erdprt.samples.persistance.model.products.listeners" level="WARN" />
	<logger name="fr.erdprt.samples.springbatch.readers" level="WARN" />
    <logger name="fr.erdprt.samples" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <!-- To see sql  script execution -->
    <logger name="org.springframework.jdbc.datasource.init.ScriptUtils" level="WARN" />

    <logger name="org.hibernate.SQL" level="TRACE" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <logger name="org.hibernate.persister.entity.AbstractEntityPersister" level="WARN" />
    <logger name="fr.erdprt.samples.persistance.model.products.services.business" level="WARN"></logger>
	<logger name="fr.erdprt.samples.springbatch.writers" level="WARN"/>
	
	<logger name="fr.erdprt.samples.springbatch.utility.unmarshaller" level="WARN"/>
	<logger name="fr.erdprt.samples.springbatch.tests" level="WARN"/>
    

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>